body {
	font-family: 'Roboto', 'Arial', sans-serif;
}

label {
	cursor: pointer;
}

.page-wrap {
	position: relative;
}

.select-wrapper {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	z-index: 10;
}

.select-overlay {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 5;
}

.custom-form-select {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	min-height: 150px;
}

.custom-form-select option {
	cursor: pointer;
}

.invalid-feedback {
	display: block;
}